body {
    background-color: rgb(236 229 186);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 350px;
    margin-top: 50px;
}

.loader {
    position: fixed;
    right: 50%;
    top: 50%;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 200px;
    }
}

